# =========================
# 🔐 Virtual Environment
# =========================
venv/
.env

# =========================
# 🐍 Python Cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 🤖 Model Weights (Heavy Files)
# =========================
*.h5
*.save

# =========================
# 📊 Generated Data Files
# =========================
data/predictions.csv

# =========================
# 📈 Generated Outputs
# =========================
forecast.png

# =========================
# 💻 VS Code
# =========================
.vscode/

# =========================
# 🖥 OS Files
# =========================
.DS_Store
Thumbs.db
